/* Gaya header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Gaya input pencarian */
#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Gaya tombol pencarian */
#search-button {
    background-color: #6759ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Gaya daftar film */
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center; /* Menengahkan elemen dalam kartu */
}

.movie-card img {
    max-width: 150px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.movie-card h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.movie-card .rating {
    font-size: 24px; /* Ukuran rating yang lebih besar */
}

.movie-card .description {
    margin-top: 10px;
}
